<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.university.myapplication">

    <uses-permission android:name="android.permission.CAMERA"></uses-permission>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".AchievementStatsActivity"
            android:exported="false"
            android:parentActivityName=".ListGameConfigsActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AchievementScreenActivity"
            android:exported="false"
            android:parentActivityName=".ListGameConfigsActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".OptionsActivity"
            android:exported="false"
            android:label="@string/options"
            android:parentActivityName=".ListGameConfigsActivity" />
        <activity
            android:name=".AddGameActivity"
            android:exported="false"
            android:label="@string/add_game_activity_title"
            android:parentActivityName=".ListGameConfigsActivity" />
        <activity
            android:name=".GameConfigInfoActivity"
            android:exported="false"
            android:parentActivityName=".ListGameConfigsActivity" />
        <activity
            android:name=".ListGamesActivity"
            android:exported="false"
            android:parentActivityName=".ListGameConfigsActivity" />
        <activity
            android:name=".AddGameConfigActivity"
            android:exported="true"
            android:label="@string/activity_name"
            android:parentActivityName=".ListGameConfigsActivity"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".ListGameConfigsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>