<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.university.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".AddGameActivity"
            android:exported="false"
            android:parentActivityName=".GameConfigInfoActivity"/>

        <activity
            android:name=".GameConfigInfoActivity"
            android:exported="false"
            android:parentActivityName=".ListGameConfigsActivity" />

        <activity
            android:name=".AddGameConfigActivity"
            android:exported="true"
            android:label="@string/activity_name"
            android:parentActivityName=".ListGameConfigsActivity"
            android:theme="@style/Theme.MyApplication.NoActionBar">

        </activity>
    </application>

</manifest>